*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}
body{
    background-color: brown;

}
header{
    background-color: #222831;
    color: white;
    height: 60px;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;

}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

}

nav > ul > li{
    width: 100%;
    height: 100%;
}

nav > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
}

#side{
    height: 660px;
    width: 98.9vw;   
}
.geschiedenis2{
    font-size: 30px;
    width: 98.9vw;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
}

#geschiedenis{
    width: auto;
    height: 200px;
    font-size: 30px;
    margin: 20px;
    color: white;
}

.gebeurt{
    color: white;
    font-size: 50px;
    top: 220px;
    left: 200px;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px black;
}


.map{
    width: 1000px;
    height: 700px;
    margin: 250px;
    margin-top: 300px;
    border-radius: 5px;
}
.maps img:hover{
    transform: scale(1.15);
}
.openingtijden3{
    background-color: rgb(223, 158, 17);
    margin: 50px;
    border-radius: 10px;
    width: 1250px;
    height: 400px;
}
.openingtijden2{
    color: white;
    font-size: 40px;
    margin: 10px;
}
.openingtijden{
    font-size: 35px;
    color: white;
    margin: 10px;
}
.revieuw{
    height: 400px;
    width: auto;
    margin: 50px;
    border-radius: 50px;

    border-radius: 50px;
    background:linear-gradient(transparent, 60%, black);  
}
.revieuws{
    display: flex;
    justify-content: center ;
    font-size: 40px;
}
.text{
    display: flex;
    justify-content: center ;
    font-size: 20px;
    margin: 10px;
}
.footer{
    background-color: black;
    color: white;
    height: 180px;
}
.mail{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.contact{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.telefoon{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    top: 20px;
}
@media screen and (max-width:1000px) {

    header{
        left:100px;
        height: 60px;
        width: 100vw;
        background-color: red;
    }
    
    nav{
        width: 60vw;
        height: 100%;
        margin: 0 auto;
    
    }
    
    nav > ul{
        display: flex;
        list-style: none;
        height: 100%;
        width: 100%;
        gap: 20px;
    
    }
    
    nav > ul > li{
        width: 100%;
        height: 100%;
    }
    
    nav > ul > li > a{
        width: 100%;
        height: 100%;
        line-height: 60px;
        text-decoration: none;
    }
    
    #side{
        height: 660px;
        width: 100%;   
    }
    .geschiedenis2{
        font-size: 30px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        color: white;
    }
    
    #geschiedenis{
        width: auto;
        height: 200px;
        font-size: 30px;
        margin: 20px;
        color: white;
    }
    
    .map{
        width: 1000px;
        height: 700px;
        margin: 250px;
        margin-top: 300px;
        border-radius: 5px;
    }
    .maps img:hover{
        transform: scale(1.15);
    }
    .openingtijden3{
        background-color: rgb(223, 158, 17);
        margin: 50px;
        border-radius: 10px;
        width: 1250px;
        height: 400px;
    }
    .openingtijden2{
        color: white;
        font-size: 40px;
        margin: 10px;
    }
    .openingtijden{
        font-size: 35px;
        color: white;
        margin: 10px;
    }
    .revieuw{
        height: 400px;
        width: auto;
        margin: 50px;
        border-radius: 50px;
    
        border-radius: 50px;
        background:linear-gradient(transparent, 60%, black);  
    }
    .revieuws{
        display: flex;
        justify-content: center ;
        font-size: 40px;
    }
    .text{
        display: flex;
        justify-content: center ;
        font-size: 20px;
        margin: 10px;
    }
    .footer{
        background-color: black;
        color: white;
        height: 180px;
    }
    .mail{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    
    }
    .contact{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .telefoon{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        top: 20px;
    }
}
@media screen and (max-width: 600px) {

}
