
.column {
    float: left;
    padding: 5px;
    width: 100px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;

  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }